<html ng-app="pokerui">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="/client/table.js"></script>
  </head>
  <body>
    <div ng-controller="PkTable">
      <div>
        <h1>{{user.name}} on Table: {{table.id}} <input ng-if="table" type="button" ng-click="joinTable()" value="Join"></h1>
        <label>Name:</label>
        <input type="text" ng-model="user.name" placeholder="Enter a name here">
        <input type="button" ng-click="saveUser(user)" value="Save">
      </div>
      <div>
        Players:
          <!-- <ul> -->
            <li ng-repeat="player in table.players">{{player.name}}</li>
          <!-- </ul> -->
        <p>State: {{table.state}}</p>
      </div>
      <input type="button" ng-click="connect()" value="Connect">
    </div>
  </body>
</html>